<link rel="stylesheet" href="/public/css/modalFavoriteListGames.css">
<div id="modal-favoriteGameList">
    <div class="modal-containerFavoriteGamesList">

        <% list.forEach ( listGame=>{ %>
        <p><%= listGame.name %></p>


        <% }) %>

        <button onclick="document.getElementById('modal-favoriteGameList').style.display='none'">close</button>

    </div>


</div>

