<link rel="stylesheet" href="/public/css/snacksModal.css">
<div id="snackModal">
    <div class="snackModalContainer">
        <h1>Todos los Snacks</h1>
        <% snacks.forEach(snack=>{ %>
            <p><%= snack.name %></p>
            <p><%= snack.price %></p>
            
            <div class="options">
                <button disabled onclick="DownQuantity(this)">Down</button>
                <p>0</p>
                <button onclick="UpQuantity(this)">Up</button>
            </div>


        <% }) %>
        <button onclick="document.getElementById('snackModal').style.display='none';">Close</button>
    </div>
</div>

<script src="/public/js/modalSnacks.js"></script>