<link rel="stylesheet" href="/public/css/snacksModal.css">
<div id="snackModal">
    <div class="snackModalContainer">
        <h1>Todos los Snacks</h1>
        <% snacks.forEach(snack=>{ %>
            <p><%= snack.name %></p>
            <p id="<%=snack.name%>price"><%= snack.price %></p>
            
            <div class="options" id="<%=snack.name%>">
                <button disabled onclick="DownQuantity(this)">Down</button>
                <p>0</p>
                <button onclick="UpQuantity(this)">Up</button>
            </div>


        <% }) %>
        <p>Total S/ <span id="TotalSnackModal">0.00</span></p>
        <button onclick="document.getElementById('snackModal').style.display='none';">Close</button>
    </div>
</div>

