<link rel="stylesheet" href="/public/css/header.css">
<header>


    <a id="logo" href="http://localhost:3000/">Home</a>
    <input type="text" placeholder="Buscas algun producto">
    <div class="form-header">

        <% if(!isUserAuthenticated || isUserAuthenticated==undefined){%>
        <button id="Login-btn" onclick="buy()">Login</button>
        <!-- <form action="/login" method="GET">
            <input id="Login-btn" type="submit" value="Login">

        </form> -->
        
        <form  action="/register" method="GET">
            <input id="Register-btn" type="submit" value="Ir a registro">
        </form>
        <% } else{ %>
            <%- include('../component/userHeader',{user:user}) %>
        <% } %>
    </div>



</header>