<link rel="stylesheet" href="/public/css/headerComponent/header.css">
<header>

    <div class="logo">
        <a id="logo" href="/">
            <img width="48" height="48" src="/public/img/icons/Logo.svg" alt="">
            Brettspiel
        </a>

    </div>
    <input id="SearchBar" type="text" placeholder="Buscas algun producto">
    <div class="form-header">

        <% if(!isUserAuthenticated || isUserAuthenticated==undefined){%>
        <button id="Login-btn" onclick="buy()">Login</button>
        
        <form  action="/register" method="GET">
            <input id="Register-btn" type="submit" value="Ir a registro">
        </form>
        <% } else{ %>
            <%- include('../component/userHeader',{user:user}) %>
        <% } %>
    </div>



</header>