<header>


    <a href="http://localhost:3000/">Home</a>
    <% if(!isUserAuthenticated){%>
    <form action="/login" method="GET">
        <input type="submit" value="Ir al login">

    </form>

    <form action="/register" method="GET">
        <input type="submit" value="Ir a registro">
    </form>
    <% } else{ %>
    <p><%= user %></p>
    <form action="/logout" method="POST">
        <input type="submit" value="Salir de la cuenta">
    </form>
    <% } %>



</header>