<link rel="stylesheet" href="/public/css/sidebarUser.css">
<div class="user-sidebar">


    <a href="/Perfil">Perfil</a>
    <a href="/MisBoletas">Boletas</a>
    <a href="/JuegosFavoritos">Juegos Favoritos</a>
    <a href="/Carrito">Mi carrito</a>

    <form action="/logout" method="POST">
        <input type="submit" value="Salir de la cuenta">
    </form>

</div>