<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Juegos Favoritos</title>
</head>

<body>
    <%- include('partials/header') -%>

    <%- include('partials/sidebarUser') %>
    <div class="favoriteGames-container">
        <form action="/addNewListGame" method="POST">
            <input type="text" name="favoriteList" placeholder="Ingrese la lista de juego">
            <input type="submit" value="Agregar">

        </form>
        
        <h1>Favorites Games</h1>
        <% allProducts.forEach( product=>{%>
            <p> <%= product.name%></p>
            <% }); %>

    </div>

</body>

</html>