<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <form action="/login" method="GET">
        <input type="submit" value="Ir al login">
    
    </form>

    <form action="/register" method="GET">
        <input type="submit" value="Ir a registro">
    </form>
</body>
</html>