<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" href="/public/css/profilesviews.css">
</head>

<body>
    <%- include('partials/header') -%>

    <div class="profile-container perfil-view">

        <%- include('partials/sidebarUser') %>

        <div class="profile-view">
            <h1><%= user.first_name %></h1>
            <p><%= user.last_name%></p>

        </div>
    </div>

</body>

</html>