<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>

<body>

    <form action="/register" method="POST">
        <input required type="text" autofocus name="first_name" placeholder="Nombres">
        <input required type="text" name="last_name" placeholder="Apellidos">
        <input required type="email" name="email" placeholder="Email">
        <input required type="text" name="user_name" placeholder="Usuario">
        <input required type="password" name="password" placeholder="password">
        <input type="submit" value="Submit">
    </form>

</body>

</html>