*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 76px;
    padding: 12px;
    background:#F6FAFD;
        display: flex;
    align-items: center;
}
#logo,.form-header{
    width: 50%;
}
.form-header{
    display: flex;
    justify-content: flex-end;
}


#Login-btn, #Register-btn{
    cursor: pointer;
}

#Login-btn, #Register-btn{
    margin: 0 1em;
}
#Login-btn{
    background: #8796E1;
    color: #fff;
    border: none;
    padding: 8px 36px ;
    border-radius: 4px;
}
#Register-btn{
    border: 1px solid #8796E1;
    color: #8796E1;
    padding: 8px 36px;
    border-radius: 4px;
    background: transparent;
}