.allProducts{
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: row wrap;
}

.product-item{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 4px;
    margin: 16px;
    padding: 32px;
    text-decoration: none;
    color: #323c52;
}
.product-item h2,.product-item p {
    font-family: 'Nunito Sans',sans-serif;
    color: inherit;
}
.product-item h2{
    font-size: 18px;
    font-weight: 700;
}
.product-item p{
    font-size: 12px;
    opacity: .67;
}

.product-item .Price{
    color: #5a3ef1;
    font-family: 'Nunito Sans',sans-serif;
    font-weight: 700;
    font-size: 14px;
}
.product-item:hover{
    transition: all .1s ease-in-out;
    /* box-shadow: -6px 6px 12px 1px rgba(0,0,0,.1); */
    box-shadow: 0 4px 17px 6px rgba(0, 0, 0, 0.1);
    
}