#modal-favoriteGameList{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

#modal-favoriteGameList .modal-containerFavoriteGamesList{
    width: 600px;
    background: #fff;
}

.modal-containerFavoriteGamesList p{
    color: #434343;
}

