@import url("/public/css/font/font.css");


.product-container{
    width: 100vw;
    display: flex;
    position: relative;
}

.product-container .product-container-detail{
    display: flex;
}
.product-container .product-container-detail .product-description{
    padding-top: 3em;
    margin: 0 2em;
}
.product-container .product-container-detail .product-description .header{
    display: flex;
    align-items: center;

}
.product-container .product-container-detail .product-description .header h1{
    font-family: 'Nunito Sans',sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #29303f;
}

.product-container .product-container-detail .product-description .header p{
    font-family: 'Nunito Sans',sans-serif;
    
    font-size: 16px;
    color: #576482;
    opacity: .87;
}

.product-container .product-container-detail .product-description .header .title{
    width: 200px;
}
.product-container .product-container-detail .product-description .product-addCartbtn{
    background: rgba(131,138,242,.1);
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    color: rgba(131,138,242,1);
    border-radius: 1000px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.product-container .product-container-detail .product-description .product-addCartbtn img{
    margin-right: 1em;
}
.product-container .product-container-detail .product-description .leaveCar-btn{
    background: rgba(131,138,242,1);
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    border-radius: 1000px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.product-container .product-container-detail .product-description .addFavoriteList-btn{
    margin-left: 1.5em;
    background: rgba(255,67,76,.1);
    color: rgba(255, 67, 76, 1);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    border-radius: 1000px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
}
.product-container .product-container-detail .product-description .addFavoriteList-btn #favorite{
    margin-right: 1em;
}

.product-container .product-container-detail .product-description .addFavoriteList-btn:hover{
    transition: all .2s ease-out;
    background: rgba(255, 67, 76, 1);
    color: #fff;
}

.product-container .product-container-detail .product-description .addFavoriteList-btn:hover #Trazado_212{
    transition: all .2s ease-in-out;
    fill: #fff;
}


.product-container .product-container-detail .product-description .product-addCartbtn:hover{
    transition: all .2s ease-in-out;
    background: rgba(131,138,242,.2);
}

.product-container .product-container-detail .product-description .options-product{
    display: flex;
}

.product-container .product-description .detail-description{
    margin-top: 2em;
}
.product-container .product-description .detail-description p {
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    color: #576482;
}

.all-about-product{
    margin: 2em 2em 2em 2em;
   
}
.all-about-product{
    width: 70%;
}
.product-form{
    width: 30%;
    padding: 48px 32px;
    
}
.card-product-form{
    width: 400px;
    height: 720px;
    padding: 48px 32px;
    box-shadow: 0 0 6px 0px rgba(0,0,0,.1);
}
#second-display-card{
    display: none;
}

#waitingLoadCard{
    display: none;
}

#loader{
    width: 30px;
    height: 30px;
    position: relative;
    border: 2px solid #BA81F3;
    
   
}
#loader-container{
    width: 70px;
    height: 70px;
}


.loader-effect{
    animation: spinin 1s infinite linear;    
    transform-origin: center center;
}

@keyframes spinin{
    0%{
        width: 30px;
        height: 30px;
        transform: rotate(0deg);
    }

 

    50%{
  
        border: 2px solid #8190F3;
    }

    70%{
  
        border: 4px solid #BA81F3;
    }
    80%{
        border: 4px solid #6C8FF1;
    }
    100%{
    
        transform: rotate(360deg);
        
    }
}