<link rel="stylesheet" href="/public/css/headerComponent/user-header.css">
<div class="user-header-container">


    <div class="user-info-header">
        <p id="nameUser"><%= user.first_name %></p>

        <button onclick="show()">
            <img width="20" height="12" src="/public/img/icons/caret-down.svg" alt="">
        </button>

    </div>
    <div id="user-options">

        <div class="navOption">
            <a id="link-item1" class="item-link-options" href="/Perfil">
                <img width="22" height="22" src="/public/img/icons/Info.svg" alt="">
                Perfil
            </a>

        </div>
        <div class="navOption">
            <a id="link-item2" class="item-link-options" href="/MisBoletas">
                <img width="22" height="22" src="/public/img/icons/IconBoleta.svg" alt="">
                Boletas
            </a>

        </div>
        <div class="navOption">
            <a id="link-item3" class="item-link-options" href="/JuegosFavoritos">
                <img width="22" height="22" src="/public/img/icons/favorite.svg" alt="">
                Juegos Favoritos
            </a>

        </div>
        <div class="navOption">
            <a id="link-item4" class="item-link-options" href="/Carrito">
                <img width="22" height="22" src="/public/img/icons/cart.svg" alt="">
                Mi carrito
            </a>

        </div>
        <div class="navOption">

            <form id="link-item5" class=" item-link-options" action="/logout" method="POST">
                <button type="submit" class="iten-link-logout">
                    <img width="22" height="22" src="/public/img/icons/logout.svg" alt="">
                    Salir
                </button>
            </form>

        </div>

    </div>

</div>

<script src="/public/js/userHeader.js"></script>